
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow:hidden;
}
#todocontainer{
    width:300px;
    height:400px;
    border-radius:8px;
    box-shadow:0 0 20px silver;
}

#title{
    height:70px;
    padding-top:5px;
    padding-left:5px;
    background-color:rgb(144, 35, 233);
    color:white;
    border-radius:8px;
}

#insert {
    display: flex;
    justify-content: space-around;
    height: 50px;
    padding: 8px 0;
}

#inputs {
    width: 250px;
    border-radius: 8px;
    border:1px solid black;
    padding:5px;
}

#btn {
    width: 30px;
    border-radius: 8px;
    border: 1px solid black;
    cursor:pointer;
}

#progress {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5px;
    padding-bottom: 5px;
    height:30px;
}

.menu{
    width:80px;
    border:none;
    background-color:white;
}

.menu:hover {
    border-bottom: 2px solid black;
    cursor:pointer;
}

#screen{
    padding:10px;
}

ul{
    list-style:none;
}

li{
    position:relative;
    display: flex;
    border-radius:8px;
    margin:4px;
    padding:5px;
    box-shadow:0 0 20px silver;
}

span {
    padding-left: 5px;
}

.dltBtn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    right: 2px;
    background-color: white;
    border: none;
}

.dltBtn:hover {
    background-color:red;
    color:white;
    cursor:pointer;
}


h4 {
    width: 100%;
    margin-left: 3px;
}

#pendingtasks{
    display:none;
}

#completedtask {
    display: none;
}


